@import url(../fonts/avenir/style.css);
@import url(../fonts/utmaptima/font.css);
@import url(../fonts/utmaptima-bold/font.css);
@import url(../fonts/utmavo/font.css);
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

h2, p {
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  text-decoration: none !important;
  outline: none;
}

ul {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100;
  height: 100%;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  outline: none !important;
  text-decoration: none !important;
}

.background {
  width: 100%;
  height: 100%;
}

.background .page {
  width: 100%;
  height: 86%;
  background: #dc28ae url("../images/bg.png") no-repeat;
  background-size: cover;
}

.background .page .left-content {
  width: 60%;
  float: left;
  height: 100%;
}

.background .page .left-content .wrap-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.background .page .left-content .wrap-content .inner-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 10%;
  max-width: 80%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  color: white;
}

.background .page .left-content .wrap-content .inner-content span.wrap-title {
  display: inline-block;
  padding: 0px 25px 10px 25px;
  background: rgba(181, 29, 140, 0.05);
  background: -moz-linear-gradient(left, rgba(181, 29, 140, 0.05) 0%, rgba(181, 29, 140, 0.3) 37%, rgba(181, 29, 140, 0.42) 41%, rgba(181, 29, 140, 0.75) 52%, rgba(181, 29, 140, 0.44) 63%, rgba(181, 29, 140, 0.3) 68%, rgba(181, 29, 140, 0.05) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181, 29, 140, 0.05)), color-stop(37%, rgba(181, 29, 140, 0.3)), color-stop(41%, rgba(181, 29, 140, 0.42)), color-stop(52%, rgba(181, 29, 140, 0.75)), color-stop(63%, rgba(181, 29, 140, 0.44)), color-stop(68%, rgba(181, 29, 140, 0.3)), color-stop(100%, rgba(181, 29, 140, 0.05)));
  background: -webkit-linear-gradient(left, rgba(181, 29, 140, 0.05) 0%, rgba(181, 29, 140, 0.3) 37%, rgba(181, 29, 140, 0.42) 41%, rgba(181, 29, 140, 0.75) 52%, rgba(181, 29, 140, 0.44) 63%, rgba(181, 29, 140, 0.3) 68%, rgba(181, 29, 140, 0.05) 100%);
  background: -o-linear-gradient(left, rgba(181, 29, 140, 0.05) 0%, rgba(181, 29, 140, 0.3) 37%, rgba(181, 29, 140, 0.42) 41%, rgba(181, 29, 140, 0.75) 52%, rgba(181, 29, 140, 0.44) 63%, rgba(181, 29, 140, 0.3) 68%, rgba(181, 29, 140, 0.05) 100%);
  background: -ms-linear-gradient(left, rgba(181, 29, 140, 0.05) 0%, rgba(181, 29, 140, 0.3) 37%, rgba(181, 29, 140, 0.42) 41%, rgba(181, 29, 140, 0.75) 52%, rgba(181, 29, 140, 0.44) 63%, rgba(181, 29, 140, 0.3) 68%, rgba(181, 29, 140, 0.05) 100%);
  background: linear-gradient(to right, rgba(181, 29, 140, 0.05) 0%, rgba(181, 29, 140, 0.3) 37%, rgba(181, 29, 140, 0.42) 41%, rgba(181, 29, 140, 0.75) 52%, rgba(181, 29, 140, 0.44) 63%, rgba(181, 29, 140, 0.3) 68%, rgba(181, 29, 140, 0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51d8c', endColorstr='#b51d8c', GradientType=1 );
  margin-bottom: 3rem;
}

.background .page .left-content .wrap-content .inner-content span.wrap-title h2.title {
  color: white;
  font-size: 3rem;
  font-family: 'UTM Aptima';
  line-height: 3rem;
}

.background .page .left-content .wrap-content .inner-content span.block {
  display: block;
  padding: 5rem 0;
  position: relative;
}

.background .page .left-content .wrap-content .inner-content span.block:before, .background .page .left-content .wrap-content .inner-content span.block:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  width: 97px;
  height: 14px;
  background: transparent url("../images/icon-line-white.png") no-repeat;
}

.background .page .left-content .wrap-content .inner-content span.block:before {
  top: 0;
}

.background .page .left-content .wrap-content .inner-content span.block:after {
  bottom: 0;
}

.background .page .left-content .wrap-content .inner-content span.block span.inner-block {
  background: rgba(181, 29, 140, 0);
  background: -moz-linear-gradient(left, rgba(181, 29, 140, 0) 0%, rgba(181, 29, 140, 0.15) 37%, rgba(181, 29, 140, 0.18) 41%, rgba(181, 29, 140, 0.25) 52%, rgba(181, 29, 140, 0.18) 63%, rgba(181, 29, 140, 0.15) 68%, rgba(181, 29, 140, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181, 29, 140, 0)), color-stop(37%, rgba(181, 29, 140, 0.15)), color-stop(41%, rgba(181, 29, 140, 0.18)), color-stop(52%, rgba(181, 29, 140, 0.25)), color-stop(63%, rgba(181, 29, 140, 0.18)), color-stop(68%, rgba(181, 29, 140, 0.15)), color-stop(100%, rgba(181, 29, 140, 0)));
  background: -webkit-linear-gradient(left, rgba(181, 29, 140, 0) 0%, rgba(181, 29, 140, 0.15) 37%, rgba(181, 29, 140, 0.18) 41%, rgba(181, 29, 140, 0.25) 52%, rgba(181, 29, 140, 0.18) 63%, rgba(181, 29, 140, 0.15) 68%, rgba(181, 29, 140, 0) 100%);
  background: -o-linear-gradient(left, rgba(181, 29, 140, 0) 0%, rgba(181, 29, 140, 0.15) 37%, rgba(181, 29, 140, 0.18) 41%, rgba(181, 29, 140, 0.25) 52%, rgba(181, 29, 140, 0.18) 63%, rgba(181, 29, 140, 0.15) 68%, rgba(181, 29, 140, 0) 100%);
  background: -ms-linear-gradient(left, rgba(181, 29, 140, 0) 0%, rgba(181, 29, 140, 0.15) 37%, rgba(181, 29, 140, 0.18) 41%, rgba(181, 29, 140, 0.25) 52%, rgba(181, 29, 140, 0.18) 63%, rgba(181, 29, 140, 0.15) 68%, rgba(181, 29, 140, 0) 100%);
  background: linear-gradient(to right, rgba(181, 29, 140, 0) 0%, rgba(181, 29, 140, 0.15) 37%, rgba(181, 29, 140, 0.18) 41%, rgba(181, 29, 140, 0.25) 52%, rgba(181, 29, 140, 0.18) 63%, rgba(181, 29, 140, 0.15) 68%, rgba(181, 29, 140, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51d8c', endColorstr='#b51d8c', GradientType=1 );
  display: block;
}

.background .page .left-content .wrap-content .inner-content span.block span.inner-block p:first-child {
  margin-bottom: 3rem;
}

.background .page .left-content .wrap-content .inner-content span.block p {
  font-size: 1.9rem;
  font-family: 'UTM Aptima';
  line-height: 2.8rem;
}

.background .page .right-content {
  width: 40%;
  float: right;
  padding: 30px 5% 0 5%;
  text-align: center;
  position: relative;
  height: 100%;
}

.background .page .right-content:after {
  content: '';
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.background .page .right-content canvas.blur {
  background: url("../images/blur.png") no-repeat 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.background .page .right-content .logo img, .background .page .right-content p.sub-logo, .background .page .right-content .wrap-form {
  position: relative;
  z-index: 3;
}

.background .page .right-content .logo img {
  margin: 0 auto 2rem;
}

.background .page .right-content p.sub-logo {
  color: #595959;
  font-size: 1.4rem;
  font-family: 'utmavo';
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.background .page .right-content .wrap-form {
  padding-top: 3rem;
  position: relative;
}

.background .page .right-content .wrap-form:before {
  content: '';
  width: 86px;
  height: 12px;
  background: url("../images/icon-line-pink.png") no-repeat;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  position: absolute;
}

.background .page .right-content .wrap-form form.form-bigaroma div.form-group {
  margin-bottom: 1rem;
}

.background .page .right-content .wrap-form form.form-bigaroma select, .background .page .right-content .wrap-form form.form-bigaroma textarea, .background .page .right-content .wrap-form form.form-bigaroma input.input-me {
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: 'utmavo';
  color: #595959;
  text-transform: uppercase;
}

.background .page .right-content .wrap-form form.form-bigaroma ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #595959;
}

.background .page .right-content .wrap-form form.form-bigaroma ::-moz-placeholder {
  /* Firefox 19+ */
  color: #595959;
}

.background .page .right-content .wrap-form form.form-bigaroma :-ms-input-placeholder {
  /* IE 10+ */
  color: #595959;
}

.background .page .right-content .wrap-form form.form-bigaroma :-moz-placeholder {
  /* Firefox 18- */
  color: #595959;
}

.background .page .right-content .wrap-form form.form-bigaroma input[type="submit"] {
  background: #b41d8d;
  color: white;
  padding: 8px 18px;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Avenir LT Std 95 Black';
  border-radius: 10px;
}

.background .footer {
  background: #595959;
  padding: 2rem 4rem;
  width: 100%;
  height: 14%;
}

.background .footer .left-footer {
  width: 30%;
  float: left;
}

.background .footer .left-footer ul.list-social {
  display: block;
  margin-bottom: 1rem;
  list-style: none;
}

.background .footer .left-footer ul.list-social li {
  margin-right: 1rem;
  display: inline-block;
}

.background .footer .left-footer ul.list-social li i.ic-me {
  display: block;
  width: 41px;
  height: 41px;
  background: url("../images/sprite-social.png") no-repeat;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-fb {
  background-position: 0 0;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-fb:hover {
  background-position: -41px 0px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-twitter {
  background-position: 0 -41px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-twitter:hover {
  background-position: -41px -41px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-googleplus {
  background-position: 0 -82px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-googleplus:hover {
  background-position: -41px -82px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-likedin {
  background-position: 0 -123px;
}

.background .footer .left-footer ul.list-social li i.ic-me.ic-likedin:hover {
  background-position: -41px -123px;
}

.background .footer .left-footer ul.list-social li:last-child {
  margin-right: 0;
}

.background .footer .center-footer {
  width: 40%;
  float: left;
  text-align: center;
  color: white;
}

.background .footer .center-footer p.big {
  font-size: 1.6rem;
  font-family: 'utmavo';
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.background .footer .center-footer p.small {
  font-size: 1.2rem;
  font-family: 'utmavo';
  margin-bottom: 0.5rem;
}

.background .footer .center-footer form.form-subscribe {
  max-width: 45%;
  margin: 0 auto;
}

.background .footer .center-footer form.form-subscribe div.input-inline {
  position: relative;
}

.background .footer .center-footer form.form-subscribe div.input-inline .input-me {
  border-radius: 8px;
  outline: none;
  padding: 6px 45px 6px 12px;
}

.background .footer .center-footer form.form-subscribe div.input-inline button.btn-me {
  background: #b41d8d;
  border-radius: 8px;
  color: white;
  padding: 0.6rem 1rem 0.8rem;
  max-height: 3.4rem;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
}

.background .footer .right-footer {
  width: 30%;
  float: right;
  text-align: right;
}

.background .footer .right-footer p.info {
  color: white;
  font-size: 1.6rem;
  font-family: 'Avenir LT Std 55 Roman';
  margin-top: 2.5rem;
}
