@import '_common';

.background{
	width:100%;
	@include media(767px){
		height:auto;
	}
	.page{
		width:100%;
		background:lighten($cl-hong,10%) url('../images/bg.png')no-repeat;
		background-size:cover;
		overflow:hidden;
		@include media(1299px){
			height:84%;
		}
		@include media(767px){
			height:auto;
		}
		.left-content{
			width:60%;
			float:left;
			height:100%;
			@include media(767px){
				width:100%;
				height:auto;
				float:none;
			}
			.wrap-content{
				position:relative;
				width:100%;
				height:100%;
				.inner-content{
					width:100%;
					max-width:80%;
					margin:0 auto;
					text-align:center;
					color:white;
					margin-top:10%;
					@include media(767px){
						position:static;
						text-align:center;
						transform:translateX(0);
						-webkit-transform:translateX(0);
						-moz-transform:translateX(0);
						max-width:100%;
						padding:3rem;
					}
					span.wrap-title{
						display:inline-block;
						padding:5px 25px 5px 25px;
						@include Bgtitle;
						margin-bottom:3rem;
						@include media(1299px){
							margin-bottom:2rem;
						}
						h2.title{
							color:white;
							font-size:3rem;
							@include fontbase;
							line-height:3rem;
							@include media(1299px){
								font-size:2.5rem;
								line-height:2.5rem;
							}
						}
					}
					span.block{
						display:block;
						padding:5rem 0;
						position:relative;
						@include media(1299px){
							padding:3rem 0;
						}
						&:before, &:after{
							content:'';
							position:absolute;
							left:50%;
							transform:translateX(-50%);
							-webkit-transform:translateX(-50%);
							-moz-transform:translateX(-50%);
							width:97px;
							height:14px;
							background:transparent url('../images/icon-line-white.png')no-repeat;
						}
						&:before{
							top:0;
						}
						&:after{
							bottom:0;
						}
						span.inner-block{
							@include BGcontent;
							display:block;
							p:first-child{
								margin-bottom:3rem;
								@include media(1299px){
									margin-bottom:2.5rem;
								}
							}
						}
						p{
							font-size:1.9rem;
							@include fontbase;
							line-height:2.8rem;
							@include media(1299px){
								font-size:1.5rem;
							}
						}
					}
				}
			}
		}
		.right-content{
			width:40%;
			float:right;
			padding:30px 5% 0 5%;
			text-align:center;
			position:relative;
			height:100%;
			&:after{
				content:'';
				background:rgba(255,255,255,0.4);
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:2;
			}
			@include media(767px){
				float:none;
				width:100%;
			}

			canvas.blur{
				background:url('../images/blur.png')no-repeat 100% 100%;
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				z-index:1;
				opacity:0.9;
			}
			.logo img, p.sub-logo, .wrap-form{
				position:relative;
				z-index:3;
			}
			.wrap-logo{
				position:relative;
				z-index:100;
				@include media(1299px){
					transform:scale(0.5) translateY(-40%);
					-moz-transform:scale(0.5) translateY(-40%);
					-webkit-transform:scale(0.5) translateY(-40%);
				}
				.logo{
					img{
						margin:0 auto 2rem;
					}
				}

			}
			.wrap-transform{
				position:relative;
				z-index:100;
				@include media(1299px){
					transform:translateY(-35%);
					-moz-transform:translateY(-35%);
					-webkit-transform:translateY(-35%);
				}
			}


			p.sub-logo{
				margin:0 auto;
				max-width:70%;
				color:$cl-xam;
				font-size:1.4rem;
				@include fontbase;
				margin-bottom:1.5rem;
				text-transform:uppercase;
				@include media(1299px){
					font-size:1.3rem;
					margin-bottom:1rem;
				}
			}
			.wrap-form{
				padding-top:3rem;
				position:relative;
				&:before{
					content:'';
					width:86px;
					height:12px;
					background:url('../images/icon-line-pink.png')no-repeat;
					top:0;
					left:50%;
					transform:translateX(-50%);
					-webkit-transform:translateX(-50%);
					-moz-transform:translateX(-50%);
					position:absolute;
				}
				form.form-bigaroma{
					div.form-group{
						margin-bottom:1rem;
						position:relative;
						@include media(1299px){
							margin-bottom:0.7rem;
						}
					}
					select, textarea, input.input-me{
						border-radius:10px;
						font-size:1.4rem;
						@include fontbase;
						color:$cl-xam;
						text-transform:uppercase;

					}
					input.input-me{
						@include media(1299px){
							height:25px;
							border-radius:7px;
							font-size:1.2rem;
						}
					}
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					 color:$cl-xam;
					}
					::-moz-placeholder { /* Firefox 19+ */
					 color:$cl-xam;
					}
					:-ms-input-placeholder { /* IE 10+ */
					 color:$cl-xam;
					}
					:-moz-placeholder { /* Firefox 18- */
					 color:$cl-xam;
					}
					input[type="submit"]{
						background:$cl-hong;
						color:white;
						padding:8px 18px;
						border:none;
						font-size:1.6rem;
						text-transform:uppercase;
						@include fontbase;
						border-radius:10px;
					}
				}
			}

		}
	}
	.footer{
		background:$cl-footer;
		padding:2rem 4rem;
		width:100%;
		@include media(767px){
			height:auto;
		}
		.left-footer{
			width:30%;
			float:left;
			@include media(767px){
				width:100%;
				float:none;
				text-align:center;
				margin-bottom:1.5rem;
				.logo-footer img{
					margin:0 auto;
				}
			}
			ul.list-social{
				display:block;
				margin-bottom:1rem;
				list-style:none;
				@include media(1299px){
					margin-bottom:0.7rem;
				}
				li{
					margin-right:1rem;
					display:inline-block;
					i.ic-me{
						display:block;
						width:41px;
						height:41px;
						background:url('../images/sprite-social.png')no-repeat;
						// @include transition(all 0.3s);

						&.ic-fb{
							background-position:0 0;
							&:hover{
								background-position:-41px 0px;
							}
						}
						&.ic-twitter{
							background-position:0 -41px;
							&:hover{
								background-position:-41px -41px;
							}
						}
						&.ic-googleplus{
							background-position:0 -82px;
							&:hover{
								background-position:-41px -82px;
							}
						}
						&.ic-likedin{
							background-position:0 -123px;
							&:hover{
								background-position:-41px -123px;
							}
						}
					}
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
		.center-footer{
			width:40%;
			float:left;
			text-align:center;
			color:white;
			@include media(767px){
				width:100%;
				float:none;
				margin-bottom:1.5rem;
			}
			p.big{
				font-size:1.6rem;
				@include fontbase;
				font-weight:500;
				text-transform:uppercase;
				margin-bottom:0.5rem;
				@include media(1299px){
					font-size:1.4rem
				}
			}
			p.small{
				font-size:1.2rem;
				@include fontbase;
				margin-bottom:0.5rem;
			}
			form.form-subscribe{
				max-width:45%;
				margin:0 auto;
				div.input-inline{
					position:relative;
					.input-me{
						border-radius:8px;
						outline:none;
						padding:6px 45px 6px 12px;
						@include media(1299px){
							height:28px;
							font-size:12px;
						}
					}
					button.btn-me{
						background:$cl-hong;
						border-radius:8px;
						color:white;
						padding:0.6rem 1rem 0.8rem;
						max-height:3.4rem;
						position:absolute;
						top:0;
						right:0;
						outline:none;
						border:none;
						@include media(1299px){
							padding:0.3rem 1rem 0.5rem;
						}
					}
				}
			}
		}
		.right-footer{
			width:30%;
			float:right;
			text-align:right;
			@include media(767px){
				width:100%;
				float:none;
				text-align:center;
			}
			p.info{
				color:white;
				font-size:1.6rem;
				font-family: 'Avenir LT Std 55 Roman';
				margin-top:2.5rem;
				@include media(1299px){
					font-size:1.4rem;
				}
			}
		}
	}
}

ul.error-log li{
	list-style:none;
	margin-bottom:5px;
	&:last-child{
		margin:0;
	}
}
p.error{
	color:red
}
label.error{
	position:absolute;
	top:5px;
	right:3px;
	color:red;
}